--extra-index-url=https://wheelhouse.shopinvader.com/simple
# test requirements
vcrpy-unittest
unittest2

# DONT MERGE
odoo14-addon-shopinvader-payment @ git+https://github.com/shopinvader/odoo-shopinvader-payment@refs/pull/64/head#subdirectory=setup/shopinvader_payment
